select = [
    "E",
    "F",
    "W505",
    "PT018",
    "Q000",
    "SIM101",
    "SIM114",
    "PGH004",
    "PLE1142",
    "RUF100",
    "ANN001",
    "ANN201",
    "ANN202",
    "ANN204",
    "ANN205",
    "ANN206",
    "TCH"
]
ignore = ["F401"]
line-length = 120
format = "grouped"
target-version = "py38"
cache-dir = "./fastpt/.ruff_cache"
extend-exclude = ["fastpt/conftest.py"]

[flake8-pytest-style]
mark-parentheses = false
parametrize-names-type = "list"
parametrize-values-row-type = "list"
parametrize-values-type = "tuple"

[flake8-quotes]
avoid-escape = false
docstring-quotes = "double"
inline-quotes = "single"
multiline-quotes = "single"

[flake8-unused-arguments]
ignore-variadic-names = true

[isort]
lines-between-types = 1
order-by-type = true

[flake8-annotations]
mypy-init-return = true

[per-file-ignores]
"fastpt/test_case/test_*.py" = ["ANN001", "ANN201"]
"fastpt/conftest.py" = ["ANN001", "ANN201"]
