allure-pytest==2.13.2
cache3==0.2.1
cappa==0.10.1
cryptography==41.0.4
dbutils==3.0.2
dirty_equals==0.6.0
faker==13.15.0
httpx==0.23.0
jinja2==3.1.2
loguru==0.6.0
pre-commit==3.2.2
pydantic==2.3.0
pymysql==0.9.3
pyright==1.1.315
pytest==7.4.1
pytest-html==4.0.0
pytest-metadata==3.0.0
pytest-pretty==1.2.0
pytest-xdist==2.5.0
python-dotenv==0.20.0
python-jsonpath==0.9.0
pyyaml==6.0.1
redis[hiredis]==5.0.1
requests==2.31.0
rich==13.6.0
rtoml==0.9.0
