<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> HTTPFPT Run Exception </title>
</head>
<body>
    <div style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        box-sizing: border-box;
        display: inline-block;
        font-size: 14px;
        overflow: hidden;
        border-radius: 7px;
        margin: 0;
        border: 1px solid #e9e9e9;
        width: 50%;
        background-color: #f5f9fc;">
        <div style="font-size: 16px;
            vertical-align: top;
            color: #fff;
            background-color: #ff5757;
            padding: 20px;">
            <span style="margin:20px;display:block;"> HTTPFPT 运行异常通知 </span>
        </div>
        <div style="margin: 30px 20px;">
            <p>测试运行异常，报错信息如下：</p>
            <pre style="font-family:auto,emoji;font-size:14px;margin:0;color:#ff5757">
                {{ error }}
            </pre>
        </div>
    </div>
</body>
</html>
