name: CI

on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv sync

      - name: Run lint
        run: |
          source .venv/bin/activate
          chmod 755 pre-commit.sh
          ./pre-commit.sh

  # https://github.com/re-actors/alls-green
  check:
    name: check the needed jobs status
    runs-on: ubuntu-latest
    if: always()
    needs: [ lint ]
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}

  check-version:
    name: check version
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [ check ]
    steps:
      - uses: actions/checkout@v4

      - name: Check the package version
        uses: samuelcolvin/check-python-version@v4
        with:
          version_file_path: httpfpt/__init__.py
