name: CI

on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request:

jobs:
  #  check_version:
  #    name: check vesion
  #    runs-on: ubuntu-latest
  #    steps:
  #      - name: check GITHUB_REF matches package version
  #        uses: samuelcolvin/check-python-version@v3.2
  #        with:
  #          version_file_path: httpfpt/__init__.py
  lint:
    runs-on: ubuntu-latest
    name: lint ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version: ['3.8']
      fail-fast: false
    steps:
      - uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: true

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff black pre-commit pyright

      - name: pre-commit
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files --verbose

      - name: pyright
        uses: jakebailey/pyright-action@v1
        with:
          extra_args: --verbose
