name: CI

on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version: [ '3.10' ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: pre-commit
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files --verbose

      - name: pyright
        uses: jakebailey/pyright-action@v1
        with:
          project: .
          verbose: true

  # https://github.com/re-actors/alls-green
  check:
    name: check the status of other workflow jobs
    runs-on: ubuntu-latest
    if: always()
    needs: [ lint ]
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}

  check-version:
    name: check version
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [ check ]
    steps:
      - uses: actions/checkout@v3

      - name: Check whether the GITHUB release matches the package version
        uses: samuelcolvin/check-python-version@v4
        with:
          version_file_path: httpfpt/__init__.py
